
  <div class="row m-3 p-3">
    <div class="col">
      <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
        </div>
        <% } %>
          <form method="post" action="/contact" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="image" class="form-label">Upload</label>
              <input type="file" class="form-control" id="image" name="image">              
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Nama</label>
              <input type="text" class="form-control" id="name" name="name" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label">No HP</label>
              <input type="number" class="form-control" id="mobile" name="mobile" required />
            </div>            
            <button type="submit" class="btn btn-success">Tambah Data</button>
            <a class="btn btn-primary" href="/contact" role="button">Kembali</a>
          </form>

    </div>
  </div>