<nav class="navbar sticky-top navbar-expand-lg" style="background-color: rgb(42, 55, 82);">
  <div class="container-fluid">
    <a class="navbar-brand text-light">
      <img src="../img/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootcamp
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" href="/">Index</a>
        <a class="nav-link text-light" href="/about">About</a>
        <a class="nav-link text-light" href="/contact">Contact</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <div class="navbar-nav">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
    </div>
  </div>
</nav>